{% load staticfiles %}
<html>

<head>
    <title>
        {% block title %}Find my opponents{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/opponents.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class = "page-header">
        <a href="{% url 'contact' %}" class="top-button btn btn-warning">Contact</span></a>
        <a href="{% url 'about' %}" class="top-button btn btn-warning">About</span></a>
        <a href="{% url 'game-search' %}" class="top-button btn btn-warning">Games</span></a>
        <a href="{% url 'home' %}" class="top-button btn btn-warning">Home</span></a>
        <h1> <a href ="/">{% block header %}{% endblock %}</a></h1>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>

</html>